[2015-09-30 11:55] jonaswouters opened #4 "BankToCustomerStatementV03 support (camt.053.001.03)"
Hey @frederikbosch
What did you have in mind for supporting different versions of the Camt053 format?

A new Camt05300103 folder next to the existing Camt053 folder which would serve as a base for all Camt053 versions?

PS, where did you get the XSD file for the camt.053.001.02 format? I can't seem to find it for the camt.053.001.03 format.

Thanks

[2015-09-30 12:03] frederikbosch commented on #4
@jonaswouters In the library I left room for multiple formats by interfacing the decoder and using a [`MessageFormatInterface`](https://github.com/genkgo/camt/blob/master/src/Camt053/MessageFormat.php). By using the `Config` class, [other message formats can be added](https://github.com/genkgo/camt/blob/master/src/Config.php#L22). If you could help in this matter, that would be wonderful.

So, my

[2015-09-30 12:05] frederikbosch commented on #4
https://www.iso20022.org/message_archive.page

[2015-09-30 12:10] frederikbosch commented on #4
Since I have no idea what has changed in the specific versions, we should think on how to share code between the versions. Make we can create classes like `MessageFormatV02` vs MessageFormatV03` and `DecoderV02 vs DecoderV03`. And those objects share the same value objects. But maybe it is better to move every format to its own namespace. That would depend on the amount of changes. Regarding the

[2015-09-30 12:21] jonaswouters commented on #4
Comparing the 2 xsd files show only a limited number of additions. Nothing that seems to break backwards compatibility. There are a few new fields, so in my opinion, extending on the previous version seems most logical.

I'm going to implement it that way for now and do a PR in a few

[2015-09-30 12:24] frederikbosch commented on #4
@jonaswouters Sounds great. We still need two instances of the `MessageFormat` to indicate which which message format is supported. So I guess `MessageFormatV02` vs `MessageFormatV03` will still be required, which means BC break, and therefore an upgrade to `0.2.0`. Anyway, it would be a great addition.

[2015-09-30 13:15] jonaswouters commented on #4
@frederikbosch so you agree with the file structure of the PR I created? Feel free to suggest a different structure.

[2015-09-30 13:32] frederikbosch commented on #4
@jonaswouters I did change the structure. Since we are on 0.1.0, there is no need to be backward compatible. I think now the structure now allows any new version of CAMT 053.

[2015-09-30 13:35] frederikbosch commented on #4
Regarding the precision, I do not get why we need to round and/or convert to float? This is what `Money` should take care of. Could you tell me why that specific line needs to be changed?

[2015-09-30 13:43] jonaswouters commented on #4
See my comment https://github.com/genkgo/camt/commit/d925c6349ab6323b68540cf9223db50efff51b7f#commitcomment-13517814

KBC belgium provides the camt053.001.03 file with 3 decimal points.
102.850 instead of 102.85

The money libary only allows up to 2 decimals.
The camt053 standard allows up to 5 decimals

[2015-09-30 13:47] frederikbosch commented on #4
@jonaswouters Lets move the precision discussion to this issue. If I am correct, you do not care about the additional decimal points, but now it prevents your document to be decoded to an camt message, right?

Then I would say, we grab the `stringToUnits` method from Money and modify it as such that it allows up to 5 decimal points as argument, but returns an int where the last digit is removed. I

[2015-09-30 13:48] jonaswouters commented on #4
@frederikbosch sounds good! That works for me.

[2015-09-30 13:49] frederikbosch commented on #4
And of course, we should include the credits to the Money library when we copy the method.

[2015-09-30 13:50] frederikbosch commented on #4
@jonaswouters Can you create a PR which is based on the current master and includes a test?

[2015-09-30 13:52] jonaswouters commented on #4
@frederikbosch what should the PR include? A test for camt053 v3 or for the 3 decimal thing?

[2015-09-30 13:54] frederikbosch commented on #4
@jonaswouters Both is best of course, but a test for the *5* decimal thing should be there.

[2015-09-30 14:26] jonaswouters commented on #4
@frederikbosch created PR, if you have the time could you adjust the regex? I could not get it to work right away. Out of time for today.

[2015-09-30 14:32] frederikbosch commented on #4
Fixed and merged, thanks for your contribution!

[2015-09-30 14:32] #4 closed

[2015-09-30 14:33] frederikbosch commented on #4
Also tagged `0.2.0`.

[2015-09-30 15:07] frederikbosch commented on #4
Added extra tests for additional decimals. Now remaining decimals are correctly discarded. Tagged `0.2.1` with the fixes.

[2015-10-01 06:50] jonaswouters commented on #4
Thanks for the help! All my project tests are passing now.

[2016-02-26 12:09] ronnievisser opened #10 "EntryTransactionDetail AmtDtls"
Hi,

Is there a reason why AmtDtls aren't available within a transaction detail???

[2016-02-26 12:16] frederikbosch commented on #10
@RonnieVisser Nope. Maybe because nope needed it yet. You can contribute if you'd like!

[2016-06-10 08:01] Einenlum opened #15 "Other account identification"
It seems IBAN is not the only way of identification of an account, in camt 053.

https://www.iso20022.org/standardsrepository/public/wqt/Content/mx/dico/mc/_Pdwzodp-Ed-ak6NoX_4Aeg_-1833658219

It can be replaced by another identification of type *GenericAccountIdentification1*, containing:

* a *Identification* string
* a *SchemeName* (containing a *Code* or a *Proprietary*)
* an *Issuer* string.

[2016-06-10 14:11] Einenlum opened #18 "Add an option to disable validator"
Unfortunately, it seems some banks can send Camt files not respecting entirely the XSD.

Found in [this PDF](http://www.six-interbank-clearing.com/dam/downloads/en/standardization/iso/swiss-recommendations/implementation-guidelines-camt.pdf):

If I understand correctly, some Camt messages can be validate for banks but not following XSD… Therefore, shouldn't we be able to add an option to deactivat

[2016-06-17 07:40] frederikbosch commented on #15
I believe this one is resolved.

[2016-06-17 07:40] #15 closed

[2016-06-21 09:35] frederikbosch commented on #18
We could move the validation from the `Decoder` into a `Validator` which we call from the Reader if a config `validate` is `true`, which should be the case by default.

[2016-09-23 08:35] Vinze opened #33 "Bug in readme(?)"
The readme gives the following example:

[code]

When executing the I got the following error: `Call to undefined method Genkgo\Camt\Camt053\Message::getRecords()`.

I'm guessing this is a typo and it needs to be `$message->getStatements();`. Is that the correct method?

Also, is it possible to get the parsed output as an array or json?

[2016-09-23 09:37] frederikbosch commented on #33
There have been a lot of changes, due to the support of additional message formats (which is great). I need to give this repo a comprehensive review and update the readme. When this will happen, I cannot tell. Please try to figure out yourself in the meanwhile, sorry for that.

[2016-09-23 10:00] Vinze commented on #33
Alright, thanks for the quick reply!

[2016-09-26 11:04] Einenlum commented on #33
@Vinze Could you precise the version you're using? It seems `Genkgo\Camt\Camt053\Message` does not longer exist in the current version.

[2016-10-12 20:08] ronnievisser opened #34 "Date time issue"
Hi,

I have camt053 files from triodos bank that has an extra .999999 behind the dates in the files. If I'm correct this is some oracle format. The datetimeimmutable fails on this. Any ideas how to solve other then editing the file before parsing it?

Thnx

[2016-10-13 06:16] frederikbosch commented on #34
Maybe we can initialize a DateTimeImmutable using its createFromFormat sentence? Is PHP capable in initializing this date format at all?

[2016-10-13 07:52] ronnievisser commented on #34
It seems that it are microseconds. It also only the case in the Stmt.ToDtTm node.

I know that Carbon can handle it with the
[code]

[2016-10-13 08:03] ronnievisser commented on #34
Seems that DateTimeImmutable can handle microseconds up to 6 digits. mine has 9.

[2016-10-13 08:03] frederikbosch commented on #34
@ronnievisser In that case something to this might work
[code]

[2016-10-13 08:04] frederikbosch commented on #34
The `u` is for microseconds.

[2016-10-13 08:07] frederikbosch commented on #34
@ronnievisser Okay, that is a pity. Does that Triodos CAMT file has some kind of signature? Is it recognizable as a Triodos CAMT file? We might want to create abstractions per different camt file.

[2016-10-13 08:08] #33 closed

[2016-10-13 09:30] ronnievisser commented on #34
php can't handle nanoseconds only microseconds.. so I have to replace it in the file first before handling it.

There is no signature to recognize it a triodos I'm afraid. maybe the naming convention of the file but I'm not sure.

[2016-10-13 11:03] antlih commented on #10
Ronnie did you look in to this? I would need the AmtDtls as well.

[2016-10-13 13:51] ronnievisser commented on #10
No I haven't yet. probably soon.

[2016-10-14 06:43] antlih commented on #10
I think I managed to add it, will commit soon.

[2016-10-14 10:20] ronnievisser commented on #10
Ok cool! Saves me some time :)

On 14 October 2016 at 08:43, antlih <notifications@github.com> wrote:

[2016-10-17 12:14] #34 closed

[2016-10-17 12:15] ronnievisser opened #35 "any plans to update money dependency?"
Hi,

Do you have any plans to upgrade the Money dependency? to for example 3.0 or 1.3?

[2016-10-17 12:23] frederikbosch commented on #35
@ronnievisser I am team member of `Money`. We are about to publish a stable version of `Money`. When the stable is released I will implement it here and give this library a thorough review too.

[2016-10-17 12:23] #35 closed

[2016-10-17 12:27] ronnievisser commented on #35
ok! any ETA on that?

[2016-10-17 12:29] frederikbosch commented on #35
Nope. We are working on it for months already.
https://github.com/moneyphp/money/issues/174

[2016-10-20 08:24] antlih opened #36 "Bug related to handling of <Ustrd> and <Strd>?"
I'm still investigating, but for me it looks like if `<Ustrd>` is present then the <Strd> information is not handled properly. I have couple of cases having both unstructured information (i.e. free text of max 140 chars) and Reference number (Strd->CdtrRefInf->Ref). In this case only Ustrd is available, if I remove the tag then the reference is available as it should.

[2016-10-20 08:27] frederikbosch commented on #36
Maybe it is, see these lines
- [Check for Unstructured](https://github.com/genkgo/camt/blob/478aa0a0691240c2c76d3b16282da1c80d9c79f0/src/Decoder/EntryTransactionDetail.php#L133)
- [Check for Structured](https://github.com/genkgo/camt/blob/478aa0a0691240c2c76d3b16282da1c80d9c79f0/src/Decoder/EntryTransactionDetail.php#L142)

As both if statements return, there cannot be both a structured and unstru

[2016-10-20 10:12] antlih commented on #36
Ok, I got it fixed. I will make a pull request for this and handling of AmtDtls. It should happen early next week at latest (have to finish something first).

[2016-10-24 11:53] antlih opened #38 "Handling of the CdtDbtInd and Amt information"
Hello,

I'm just raising a question about handling the CdtDbtInd and Amt values. Now the library does the work for you by checking CdtDbtInd and in case of DBIT the Amt is multiplied by -1. I see this may cut some corners when saving the values for further use (e.g. to database) so you don't have to consider the transfer direction. My question is should this be handled instead so that provide the

[2016-10-24 12:13] frederikbosch commented on #38
@antlih I dont completely understand the problem. Why is saving the amount a problem? You can create an integer (or decimal) column in your database, right? If you want that to accept negative amounts you should not make that column unsigned.

[2016-10-24 12:24] antlih commented on #38
Surely it is not a big problem, more like a philosophical question if the mentioned logic should or should not be part of a data parser. As a maintainer you decide that of course and I respect your decision.

As an example, I have a case in my hand where I need to just parse and save the (selected) data to the database, including the CdtDbtInd value as it is. I have to "decode" the library logic b

[2016-10-24 12:39] frederikbosch commented on #38
Well, the library's intention are bigger than just parsing. By using `Money` you can actually do comparison of the amounts. That would not be possible if an amount would be a float. Because of floating point precision problem, I never use float/decimal any more for amounts. See problems below. Try to execute it with PHP and see for yourself. That is why I am using `Money`.

[code]

[2016-10-24 12:42] #38 closed

[2016-12-21 22:55] sreisenb14 opened #41 "Parsing STUZZA issue"
i would like to parse my Stuzza files, this are basically simple camt.053.001.02 files, the header looks like this:

`<?xml version="1.0" encoding="UTF-8"?><Document xmlns="ISO:camt.053.001.02:APC:STUZZA:payments:003" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">`

when running the script, it returns:

`PHP Fatal error:  Uncaught exception 'Genkgo\Camt\Exception\ReaderException' with mess

[2016-12-21 22:55] frederikbosch commented on #41
Could you explain what Stuzza is?

[2016-12-21 22:58] sreisenb14 commented on #41
Stuzza regulates the austrian baning data transfers, and also defines the standards. basically we are using the camt.053.001.02 xml files with some modifications: http://www.stuzza.at/schemata/ISO.camt.053.001.02.austrian.003.xsd

if it help's i could provide a xml file with the documents

[2016-12-22 00:44] frederikbosch commented on #41
Use composition.

[code]

[2016-12-22 00:45] frederikbosch commented on #41
Fix the namespaces yourself.

[2016-12-22 00:45] #41 closed

[2016-12-22 01:13] sreisenb14 commented on #41
did it, thanks!

[2016-12-23 08:42] antlih opened #42 "getAccountService(r)Reference()"
Are functions entry->getAccountServicerReference() and reference->getAccountServiceReference() named differently in purpose?

[2016-12-25 10:52] Kroesss opened #43 "example / getting started"
Is it possible to include a working example-file, or otherwise extend the getting-started in the readme? I cannot get it to read anything, I keep getting Fatal errors that Config and Reader are not found.

[2016-12-25 11:26] Kroesss commented on #43
Can I ask why this is closed without any response?

[2016-12-26 08:11] Einenlum commented on #43
@Kroesss Working example files are already present in `tests/Unit/CamtXXX/Stubs/`.
And t

[2016-12-26 08:11] #43 closed

[2016-12-26 09:38] Kroesss commented on #43
@Einenlum: Okay, thanks. I have found the example-files you are referring to, but I meant an example-file of the script working (e.g. interpretting a CAMT-file and returning an array), and not an example of the CAMT-file itself. Too bad I apparantly can't use this library. Thanks for the response anyway!

[2017-01-04 09:39] Einenlum commented on #43
@Kroesss You have an example in the readme: https://github.com/genkgo/camt#getting-started

[2017-01-04 10:08] Kroesss commented on #43
@Einenlum: as stated in the opening-post of this thread I keep getting fatal errors when trying the example from the readme. I've tried various things, moving the files around in the folders and everything, but no luck.
I was hoping that I could get a php-file with the right includes so I could use this, since the method in the readme clearly does not work on my hosting. I have no composer or some

[2017-01-04 10:11] frederikbosch commented on #43
This package does not come with its own autoloader, and never will. You could create your own autoloader, but my advice is start using composer. Anyway, we are not going to spend time on fixing someone else's autoloading problems. It's not 2005.

[2017-01-04 10:23] Kroesss commented on #43
@frederikbosch As you can see I had already moved on to other packages. I just clarified my situation in response on the last message from Einenlum.

On a side note, a little less hostility in the messages would be appreciated.

[2017-01-04 10:38] frederikbosch commented on #43
@Kroesss I get your point. It is hostile from me. But the group of people that assume there is a support contract between those who create an open source package and its users is huge. Some FOSS project owners are replying to all questions. I am not that guy. I tend to [help](https://github.com/genkgo/camt/issues/41#issuecomment-268688471) [anywhere](https://github.com/genkgo/camt/issues/4) where

[2017-01-04 10:46] Kroesss commented on #43
@frederikbosch I was not aware that I suggested a contract or obligation for support from you or your team in my messages. That was not my intention. It is just that calling me out as being stuck in 2005 just because I have a hosting-plan that does not support composer is a bit aggressive.

[2017-01-09 10:22] Einenlum commented on #43
@Kroesss It can seem a bit agressive, but @frederikbosch is totally legit. It's like asking on a PHP project issues' page why your windows is so slow. Autoloading is just the norm of every PHP project for more than 10 years. You can use composer's one or others. But it does not concern the code in itself and definitely not this library.

Anyway, wish you good luck to update your host or find a cus

[2017-03-03 10:03] paneidos opened #45 "Triodos nanoseconds issue"
Hi,

this problem was already mentioned in issue #34, but there was no solution then.
A file from Triodos can be identified by the message id in the group header: it starts with 'TRIODOS/'.

[2017-03-10 07:35] chatis opened #46 "camt.054.001.04"
Hello,

Is this camt supported ? Because I have some bugs with it with one of XML i have ?

Thank you

[2017-03-13 16:46] chatis commented on #46
I give to you my XML.. Because I don't understand why it's not working..

Thank you for your help

[code]

[2017-05-24 18:28] sdespont opened #48 "Quick question about camt.054.001.04 compatibility"
Hi mainteners,

First of all, thank you for your excellent work.

This project seems compatible with the camt.054.001.04 version due to classes, tests (and so on, ...) presents in the repo, but the "readme" page says the opposite : only the camt.054.001.02 version is compatible.

Is there any limitation to take into account about the camt.054.001.04?

Best regards,

Sébastien

[2017-05-28 21:30] Einenlum commented on #48
Hi @sdespont,

Thanks for your message. I am not able to test it with the `camt.054.001.04` version, so unfortunately, I'm not able to tell you if it is really compatible.

If you try could you give us feedback? If it is, we will update the Readme.

[2017-06-16 17:33] frederikbosch commented on #45
It is solved in the current version. However, not solved by default. You will have to create a fix yourself, because this library cannot support all banks in the world. It supports a standard and as developer you should be able to bypass deviations from the standard.

This is how we fixed in our code.

1. Create a date decoder that remove the nano seconds.
[code]

2. Create your message format, an

[2017-06-16 17:33] #45 closed

[2017-07-11 06:46] toooni opened #50 "Returning null instead of BadMethodCallException"
First of all. Thank you for this great library.. It saved me a lot of hours.
The only "problem" I had was the handling of the `BadMethodCallException`'s. I do automatically end up catching way too much `BadMethodCallException` to only set a default value (mostly `null` by myself) in the catch block.
I know that changing this behaviour will cause a BC break. But are there any other reasons for that

[2017-07-11 07:08] frederikbosch commented on #50
@toooni I am not particular happy with some design decisions myself. I am planning to review the complete library after summer.

[2017-07-11 07:12] toooni commented on #50
@frederikbosch just ping me if you need help in any way..

[2017-07-19 16:40] haycoin opened #55 "Number format's decimal (camt.054.001.04) ?"
Hi All,
I wanted to know why into the camt.054.001.04 file amount appears under this format, with 2 decimals :
`<Amt Ccy="CHF">5.40</Amt>
<CdtDbtInd>DBIT</CdtDbtInd>`
but the object return
`[amount:Money\Money:private] => -540`
Is there any reason ?

[2017-07-19 16:56] frederikbosch commented on #55
See http://moneyphp.org/en/latest/.

[2017-07-19 16:56] #55 closed

[2017-08-10 10:42] sanderbeets opened #56 "DateTime parse error camt053, export from Tridos: 2017-08-09T23:59:59.999999999"
Hi, first of all, great lib!
Today i made an export from the Tridos Bank and it gave me this date:

<ToDtTm>2017-08-09T23:59:59.999999999</ToDtTm>

Maybe in the $this->dateDecoder->decode we can check the format of the date before trying to parse it?
I am not familiar with all the formats of CAMT, but can we assume that the format needs to be YYYY-MM-DDTHH:II:SS ???
PHP can handle 6 digits for the

[2017-08-10 10:46] frederikbosch commented on #56
@sanderbeets This was fixed in the last version, see #45 for details how to get this done.

[2017-08-10 10:46] #56 closed

[2017-08-11 08:49] sdespont opened #58 "CAMT.054 Handle remittance information with unstructured AND structured data"
Regarding #37, @antlih is right : data can be loss in some cases.

Credit Suisse uses remittance information structure like this :

                <RmtInf>
                    <Ustrd>?REJECT?0</Ustrd>
                    <Strd>
                        <CdtrRefInf>
                            <Tp>
                                <CdOrPrtry>
                                    <Prtry>ISR Reference<

[2017-08-11 08:53] frederikbosch commented on #58
@sdespont Why you want to drop `getMessage()`? I think this feature can be created without breaking BC.

[2017-08-11 09:05] sdespont commented on #58
@frederikbosch In the Credit Suisse example above which contains structured and unstructured blocks, what do you want to return with the `getMessage()` method? `?REJECT?0` or `333333333333333333333333334`?

As it cannot be clear what is the data to return in that case, It would more safe to force developper to chose what data he want to retrieve using `structured `and `unstructured `methods.

But

[2017-08-11 09:12] frederikbosch commented on #58
I understand what you mean with the unclearity. We want to return `?REJECT?0` for `getMessage` because that is what is returned now. Right? So current code gives precedence to unstructured over structured. Other developers will be counting on that.

Otherwise, we could simply add methods needed.

[2017-08-11 09:16] sdespont commented on #58
Ok, I will base the development on your suggestion.
Thank you for your quick replies.

[2017-08-14 13:35] anedisi opened #60 "Readme update PHP versions or release 0.3.1"
I found the hard way that 0.3.0 is the last version compatible with php 5.6. there is no mention of that in readme.

After including Amt support myself i found this pull https://github.com/genkgo/camt/pull/44
and that its fixed in 0.4.0,

This is maybe the reason behind https://github.com/genkgo/camt/issues/46

It would be great if somebody updated the readme or released 0.3.1 with those fixes.

[2017-08-14 14:03] sdespont commented on #60
Regarding #46, the comment "because I have some bugs" without any context neither explanation is not relevant. Furthermore, the XML file provided is valid.

[2017-08-14 14:05] frederikbosch commented on #46
Bug description is impossible to come up with a reasonable reply.

[2017-08-14 14:05] #46 closed

[2017-08-14 14:46] anedisi commented on #60
I agree, that was not enough for a bug report, but based on the timing of the the bug report and the fact that the his xml does not have AmtDtls but only Amt it could be that. I know that for me it was when i wanted to parse camt.054

[2017-08-24 09:29] sdespont opened #61 "[Camt.054] Returned dates is the current one instead of NULL if not part of the XML"
In case of some optional dates are missing in the XML file, the date returned by the library is **the current one** instead of `NULL`.

For example, in the XML validation schema point of view, bookingDate and valueDate are optionals. But Theses dates are mandatory in case of CAMT.054 file. If one of these dates are not present, the returned date is the current one, which is obviously false.

I wou

[2017-08-24 09:34] frederikbosch commented on #61
Agree.

[2017-08-24 16:41] sdespont commented on #61
Ok, I will create a pull request for this.

[2017-08-24 16:52] sdespont commented on #61
But, it will break compatibility with all objects constructors using `DateTimeImmutable` as parameter. Perhaps the best solution is to create a new method `decodeWihoutDefaultValue` in the `DateDecoderInterface `and call it for `bookingDate `and `valueDate `in Record.php?

https://github.com/genkgo/camt/blob/670d7e28ec9efb68951f7e1d6f5219f02c3748ba/src/Decoder/Record.php#L93-L100

[2017-08-25 06:43] frederikbosch commented on #61
This makes CAMT parsing so hard. Actually, this requires to go for a solution like this.

[code]

[2017-08-25 07:23] sdespont commented on #61
Sorry, I don't get your your point.

It is not just about the constructor of `DTO\Entry`. The fact is if `$this->dateDecoder->decode` can return in the future `DateTimeImmutable `or `NULL`, all methods using dates in theirs definitions could throw an exception because the given date is `NULL `instead of `DateTimeImmutable `.

To avoid BC, I would using like this :

[code]

Then, use this new param

[2017-08-25 07:33] frederikbosch commented on #61
@sdespont Sorry, my explanation was too short.

[code]

So, we should not call the date decoder when there is no date. That leaves the date decoder simple, and solves the solution where to problem emerges: the XML.

[2017-08-25 07:37] sdespont commented on #61
Ok, that makes sense. I agree that letting the decoder simple is a better solution.

I will create a pull request soon.

[2017-08-26 06:21] sdespont opened #63 "Is there a way to know the type of the file actually parsed?"
Is there a way to know the type of the file actually parsed?

I mean `camt.054.001.04`, `camt.054.001.02`, `camt.053.001.04`, ...

[2017-08-27 08:10] sdespont commented on #63
The `readDom` method int the `Reader` class could retains the `MessageFormatInterface` and provides an assessor to use it :

    /**
     * @var MessageFormatInterface
     */
     private $messageFormat;

    /**
     * @param DOMDocument $document
     * @return mixed
     * @throws ReaderException
     */
    public function readDom(DOMDocument $document)
    {
        if ($document->documentEl

[2017-10-16 08:24] beatbesmer opened #65 "composer not using most recent code"
i'm not sure if this issue belongs to here:
when i install your awesome "camt" with composer, the files downloaded aren't the most recent from github. i never worked with composer, so apologize if this is a luser question/report.

[2017-10-16 09:01] Einenlum commented on #65
Hi @beatbesmer. It's because the last release (0.4.1) is 6 commits behind master.
By default, composer will fetch the last stable release if you did not precise anything. Otherwise you can require `genkgo/camt:dev-master@dev` if you need the latest changes on the repo.

[2017-10-16 09:27] beatbesmer commented on #65
thank you @Einenlum. meanwhile i cloned the current code from github. but i'll keep your hint in mind. thank you guys for everything

[2017-10-16 17:56] sdespont commented on #65
@Einenlum This repository is not much updated this times. May I suggest to merge waiting pull requests and create a new release?

[2017-11-17 13:52] beatbesmer opened #67 "DebtorAgent not loading PstlAdr"
Hi
The postal address (PstlAdr) of the Debtor Agent Finance Institute records (RltdAgts/DbtrAgt/FinInstnId) seems not to be loaded from within the DebtorAgent
Is this function missing or do i have to load them manually?
Best regard
Beat

[2017-11-20 14:24] beatbesmer opened #68 "TransactionDetails:Reference is array instead a single object."
Hi
I followed your instructions to read the data of a single transaction.

[code]
But inside the $transaction, there is this private array ([references:Genkgo\Camt\DTO\EntryTransactionDetail:private] => Array) containing reference-object(s).

[code]
When i don't missunderstand the ISO20022 guidelines, the "+Account Servicer Reference (AcctSvcrRef)" is within "References (Refs)" and this record has

[2017-12-14 07:57] tijuan commented on #18
It seems no one is working on that one. I will provide a PR very soon.

[2017-12-14 08:42] frederikbosch commented on #18
Cool.

[2017-12-14 15:03] tijuan commented on #18
PR waiting. Thanks ;)

[2017-12-19 12:28] tijuan commented on #18
@frederikbosch Do you have a few minutes to review my PR please ?
Regards.

[2018-02-02 20:23] benjaminpick opened #71 "[Feature] Write support"
I will develop a camt.053-File-Writer and thinking of using this project as a base. Would you be interested to merge in write support?

[2018-02-19 11:15] tprj29 commented on #71
@benjaminpick i would be interested in this. If you have it somewhere i would like to know!

[2018-02-19 11:42] tprj29 opened #72 "determine which xml attribute to use on balances"
@frederikbosch Currently there is no way to determine which XML attribute you use when getting all available opening and closing balances. In our system this is required because one XML attribute might be more reliable then the other. Is there any change this could be implemented in future development? I could open a pull request if you like to.

The only thing that needs to be added is a field an

[2018-02-19 13:59] benjaminpick commented on #71
Not yet :-)

[2018-04-12 13:22] sdespont opened #73 "RelatedParty : retrieve account throw exception if undefined"
Why `RelatedParty `class throws an exception if we try to retrieve an undefined account? I would like to display the IBAN if it is provided, but if it is not, an exception occurred.

So, how can I know if the account is available?

https://github.com/genkgo/camt/blob/478aa0a0691240c2c76d3b16282da1c80d9c79f0/src/DTO/RelatedParty.php#L40-L49

[2018-06-06 15:19] roland-support-it commented on #50
Dear Frederik,

Same story here.

I had to comment out this:
**src\DTO\EntryTransactionDetail.php:...162:**
`     //   if ($this->remittanceInformation === null) {`
`    //       throw new BadMethodCallException()`
`     //   }`

and:
**src\DTO\RelatedParty.php:...45:**
`    //    if ($this->account === null) {`
`    //        throw new BadMethodCallException();`
`    //    }`

I tried to ignore o

[2018-09-03 07:05] niki7har commented on #50
Same here.
Expecting null, getting BadMethodCallException...
Any reason the remittanceInformation must not be null/empty?

[2018-11-15 13:57] D4rkMindz opened #75 "Replace deprecated dependency"
The dependency [jschaedl/iban](https://github.com/jschaedl/iban) is marked as deprecated. Replace it with [jschaedl/iban-validation](https://github.com/jschaedl/iban-validation). The library jschaedl/iban-validation does require PHP >= 7.1.3, but as far as i can see, there should not be a problem with this.

[2018-11-15 14:33] D4rkMindz commented on #75
Duplicate of #74

[2018-12-11 12:53] Samuell1 commented on #55
@frederikbosch Hey, can you please add example how to add back decimals?

[2018-12-12 15:06] Einenlum commented on #55
@Samuell1 See [here](http://moneyphp.org/en/latest/getting-started.html).
`$fiver = Money::USD(500);` in the example, means `$fiver` is a `Money` object representing `$ 5.00`.

[2018-12-12 17:10] Samuell1 commented on #55
@Einenlum Yes later i found out like there is example: http://moneyphp.org/en/latest/features/formatting.html#intl-money-formatter

[2018-12-13 09:15] Samuell1 commented on #50
I had same issue, it will be better to return `null` if message is empty.

[2019-03-20 10:43] MrMoronIV commented on #18
Bank example files are not validating, although they are official bank files, hence this option is a requirement to make things work. I assume this PR has never been pulled and this options is thus still missing?

[2019-03-25 09:51] Einenlum opened #77 "Update maintainers"
Hi @frederikbosch,

I unfortunately don't have time anymore to work on this project. Could it be possible to remove my rights on it?

Thanks for your work! :)

[2019-03-27 09:26] hanishsingla commented on #77
Hi @Einenlum and @frederikbosch

I see that many pull requests are pending for this project. Is there anyone maintaining new changes?

We can work on issues, provided pull requests are merged.

Thanks for your work

[2019-03-27 09:27] frederikbosch commented on #77
I'll do some updates and fixes this week

[2019-05-03 10:13] PowerKiKi commented on #65
@beatbesmer could you please close this issue, as it seems it your question was answered a while ago ?

[2019-05-03 10:16] PowerKiKi commented on #77
I'm considering using this lib in one of our project and would be reassured if there were a bit more activity on the PR and issues. At a glance I saw some quality PR and closable issues that could be dealt with relatively easily.

Maybe you could consider adding a new contributor to it if you don't have much time available for it ?

[2019-05-03 10:27] PowerKiKi commented on #77
@hanishsingla I noticed you forked this repo very recently and merged all open PR. Would you be interested instead in joining this repo as a collaborator (assuming @frederikbosch agree) ?

[2019-05-03 11:15] frederikbosch commented on #77
@Einenlum Thank you very much for all your contributions. We have quite some CAMT standards that we support right now.

@PowerKiKi I am more than happy to hand over some responsibility. I made you with @hanishsingla collaborator of the repo.

[2019-05-03 11:15] #77 closed

[2019-05-03 11:15] #65 closed

[2019-05-03 11:17] frederikbosch commented on #77
@PowerKiKi @hanishsingla Hopefully you/we can update the library to finish all the outstanding issues.

[2019-05-03 11:38] PowerKiKi commented on #77
Great ! I wasn't necessarily expected to be added to the project myself, but I'll see what I can do in the coming days.

Thanks for the quick reply.

[2019-05-03 17:13] hanishsingla commented on #77
@frederikbosch .. Thanks for adding me as a collaborator.

I had forked and published this repo in another name for some urgent issues. I will merge the PRs and contribute as much I can.

[2019-05-03 21:13] tijuan commented on #77
Hi there,

cool to hear that something is happening here.

I also have my own fork (on Bitbucket)  as the project did not get the needed support (which is understandable - no blame), especially this requested feature that I worked on https://github.com/genkgo/camt/pull/70

I may have to work on this component again very soon and would be happy to contribute here if something would be missing

Than

[2019-05-05 22:46] PowerKiKi commented on #75
Solved in #74

[2019-05-05 22:46] #75 closed

[2019-05-05 22:56] #58 closed

[2019-05-05 22:59] #63 closed

[2019-05-05 23:45] #18 closed

[2019-05-05 23:58] PowerKiKi commented on #48
Readme has been updated since then to reflect latest changes in code.

[2019-05-05 23:58] #48 closed

[2019-05-06 00:00] PowerKiKi commented on #60
Read now document the correct PHP version. And it is also enforce by composer.

[2019-05-06 00:00] #60 closed

[2019-05-06 02:47] PowerKiKi commented on #61
Should be fixed by #62

[2019-05-06 02:47] #61 closed

[2019-05-06 02:48] PowerKiKi commented on #71
I'll close this as a non-issue, but feel free to continue the discussion.

[2019-05-06 02:48] #71 closed

[2019-05-06 02:53] PowerKiKi commented on #42
They both refers to the element `<AcctSvcrRef>` and should indeed probably named the same thing in our DTO. As it would be a breaking change, I mark it as such for a future major version.

[2019-05-06 02:56] PowerKiKi commented on #36
This should hopefully be fixed by #59.

[2019-05-06 02:56] #36 closed

[2019-05-06 03:02] PowerKiKi commented on #73
If the related party account does not exist should RelatedParty never be created in the first place ? And thus preventing your case altogether ?

[2019-05-06 03:07] PowerKiKi commented on #73
Duplicate of #50

[2019-05-06 03:07] #73 closed

[2019-05-06 03:09] PowerKiKi commented on #10
Fixed in #39

[2019-05-06 03:09] #10 closed

[2019-05-06 07:36] PowerKiKi opened #78 "Drop PHP 7.0 support ?"
I would like to drop support of PHP 7.0 in our next major version (1.0.0) because it reached end of life 3 months ago, prevent us to integrate phpstan properly in our workflow and prevent us from type hinting nullable types and just add overhead to the general maintenance.

The idea being that for users who are still on PHP 7.0, they can use the freshly released camt 0.6.0.

@frederikbosch, @sdesp

[2019-05-06 07:42] PowerKiKi opened #79 "Avoid non-ascii in code"
`\Genkgo\Camt\DTO\ChargesRecord::setChargesIncluded­Indicator` method name and related fields/methods contain non-ascii character that should be removed entirely.

[2019-05-06 07:47] sdespont commented on #78
@PowerKiKi No problem for me, I fully support to drop PHP versions which are no longer actively supported if needed.

[2019-05-06 08:20] frederikbosch commented on #78
@PowerKiKi I'd definitely upgrade. In other libraries I use the following two rules, both related to the [PHP support table](https://www.php.net/supported-versions.php).

1. If PHP actively supports a version, we must too.
2. If PHP only provides security releases, there must be *a* version available of the library for that PHP version.

Hence, for this library I'd upgrade to PHP 7.2, and have ver

[2019-05-06 11:32] jarnovanleeuwen commented on #78
I'm also positive about this change, for the reasons stated above.

[2019-05-20 09:33] MrMoronIV opened #80 "(NL) ABN Amro example file => Empty Document"
The below file is parsed as an Empty Document, not sure why, it's an official example file. Is the file broken or has the class something to do with it?

I would post the XML in here but I can't find a way to make a scrollable code field, here's the direct link to the ZIP file from the Bank's site: https://www.abnamro.nl/nl/images/Content/OneShop/000_Generiek/Zip/ZipOS_-_SEPA_-_CAMT053_voorbeeldbe

[2019-05-20 09:45] MrMoronIV commented on #80
I found the error, The XML file itself is incorrect by not closing two RSN tags, it's ridiculous, this is a multinational Bank, lol

[2019-05-20 09:46] #80 closed

[2019-05-20 10:18] MrMoronIV opened #81 "Fatal error:Uncaught InvalidArgumentException: Unknown IBAN (can parse continue?)"
Continuing on the ABN Amro example file, they put an incorrect IBAN in their example file:
[code]

Is there a way to continue the import when this happens for one transaction or is this an edge case that never happens IRL and should I give up on the ABN Amro example file mentioned in my previous (closed) issue?

[2019-05-20 21:48] PowerKiKi commented on #81
If the document has an invalid structure or contains invalid data, then it cannot be read at all. We use https://github.com/globalcitizen/php-iban to validate IBAN. If you believe your IBAN actually is valid you might want to report an a but over there, but most likely it's just random data.

This might help you for testing purpose: http://randomiban.com/?country=Netherlands

[2019-05-20 21:48] #81 closed

[2019-07-16 14:06] zembrowski opened #83 "[camt.053] RelatedAgent BIC"
The xml tag for the RelatedAgents BIC is named in camt.053(.001.04) "BICFI".

I noticed, that camt.052 uses a "BIC" xml tag and is being tested with unit tests. For camt.053 an empty string is getting returned, as there is no "BIC" and no unit test. Is there a quick way to retrieve the BICFI for camt.053?

Thanks in advance for your response.

[2019-07-19 03:13] PowerKiKi commented on #83
I don't think there is any way to get BICFI with current code.

I would suggest you to submit a new PR that adds an abstract method `\Genkgo\Camt\Decoder\EntryTransactionDetail::getBIC` that is implemented as needed in each inheriting classes according to CAMT version. Or alternatively implement the most common version in the parent class and override only in the rare cases that differ.

And then

[2019-08-06 17:45] #78 closed

[2019-08-06 18:42] #79 closed

[2019-08-06 19:00] #42 closed

[2019-08-06 19:17] PowerKiKi commented on #50
Would any of you create a PR, covered by tests, to implement this ?

[2019-12-29 15:10] orukaz opened #85 "How to get Debtor (company/private) identification number?"
How to get Debtor (company/private) identification number?

![Screenshot 2019-12-29 at 17 06 36](https://user-images.githubusercontent.com/33488045/71558602-ed502880-2a5d-11ea-9c90-861fbb1f374c.png)

![Screenshot 2019-12-29 at 17 08 51](https://user-images.githubusercontent.com/33488045/71558613-08229d00-2a5e-11ea-8d82-5649db5812c1.png)

I looked the code and I didn't find methods and attributes f

[2019-12-30 11:02] PowerKiKi commented on #68
This is correct. Because the XSD always specifies a 0..1 relation:

[code]

 `\Genkgo\Camt\DTO\EntryTransactionDetail::$references` should be changed like so and all methods adapted:

[code]

This is a breaking change that should be made for next major version

[2019-12-30 12:51] PowerKiKi commented on #72
If this is still relevant for you, feel free to create a PR, including tests. Otherwise I suppose you can close the issue.

[2019-12-30 15:24] #50 closed

[2019-12-30 15:35] #68 closed

[2019-12-30 18:05] PowerKiKi commented on #85
AFAIK there is now way to get this for now. If you submit a PR, including tests, it could be merged

[2020-01-06 15:05] tprj29 commented on #72
I fixed this myself.

[2020-01-06 15:05] #72 closed

[2020-01-09 08:46] nssnl opened #86 "Entry details: retrieve "Batch" details"
I'm trying to get `PmtInfId` and `NbOfTxs` within the `Btch` of the entry details. See example piece of the XML below.

[code]
I'm using the (simplified) code below to retrieve the relevant info such as amount, date, iban and transaction details.
[code]
Is there any way to retrieve `PmtInfId` and `NbOfTxs` within the `Btch`? Thanks

[2020-02-11 12:46] BertHankes opened #87 "getRemittanceInformation() throws error"
When reading a Camt053 xml (ABN-AMRO) I get error messages when I use getRemittanceInformation().
It seems that ABN-AMRO does not always include the RemittanceInformation in the XML.

I have disabled line 163 of genkgo/camt/src/DTO/EntryTransactionDetail.php and now I can read the XML.

Is ABN-AMRO to blame for this?

[2020-02-12 12:27] PowerKiKi commented on #87
Try to upgrade to [1.0.0](https://github.com/genkgo/camt/releases/tag/1.0.0), it should not be too much work, and should work out of the box.

[2020-02-12 12:27] #87 closed

[2020-07-08 11:55] PowerKiKi commented on #86
You might be looking for `\Genkgo\Camt\DTO\Entry::getBatchPaymentId()` which seems to be doing what you ask for

[2020-07-08 11:55] #86 closed

[2020-10-15 05:57] axelhuizinga opened #93 "Why are amounts converted into integers?"
I wonder why
/Decoder/Record.php
Line 76:
$amount = StringToUnits::convert((string) $xmlEntry->Amt);
converts all amounts into int thus truncates the decimal value

[2020-10-15 07:15] PowerKiKi commented on #93
See https://github.com/genkgo/camt/blob/3c8a24cef1f889ac29c4e27f09abe4fab4e6e149/test/Unit/Util/StringToUnitsTest.php#L24

 where you'll find out that amounts are expressed in an entire number of cents, and not a decimal number of the currency. This is a very critical thing to be aware of when using this lib, otherwise you'll think you have 100x more money that you actually have :money_mouth_face:

[2020-10-15 07:15] #93 closed

[2020-10-26 21:29] axelhuizinga opened #94 "Amount decimal point ignored"
Parsing a camt.052.001.02 file seems to ignore the decimal point when parsing the amounts.
For example <Amt>65.50</Amt> accessed with Entry->getAmount()->getAmount() prints -6550
Minus is correct since it are returned bookings but where got the decimal point lost?

[2020-10-27 00:01] PowerKiKi commented on #94
This is by design. See https://github.com/genkgo/camt/issues/93#issuecomment-708951687

[2020-10-27 00:01] #94 closed

[2020-11-30 17:13] onlime opened #95 "PHP 8.0 Support"
Ist there PHP 8.0 support in the works? Can I help you testing?

Best regards,
Philip

[2020-12-01 00:55] PowerKiKi commented on #95
This is blocked by https://github.com/moneyphp/money/issues/619 and https://github.com/jschaedl/iban-validation/pull/53. If you want to help, you should start by helping them.

[2020-12-23 07:36] PowerKiKi commented on #95
Follow #97 for PHP 8.0 support

[2020-12-23 07:36] #95 closed

[2021-02-11 15:19] ghostika opened #98 "Wrong formatting of JPY"
I have a camt file with the JPY currency. I've seen the other issue regarding of the deciaml issue.
My problem is, JPY has no decimal places.
The following balance entry:

[code]

is parsed to
[code]

And if I want to format this with money's  DecimalFormatter (what in any other case works), then I get as formatted value `JPY 2700`, what is wrong.
The only thing I can do now is to divide it with 1

[2021-02-12 00:59] PowerKiKi commented on #98
This is reproducible. We use a custom parser, `\Genkgo\Camt\Util\StringToUnits::convert()`, which incorrectly ignore the currency. I believe our custom class should be entirely replaced with calls to `\Money\Parser\DecimalMoneyParser` instead.

Could you please create a PR for that ? Delete `StringToUnits` entirely and replace calls with `DecimalMoneyParser` ?

[2021-02-12 07:30] ghostika commented on #98
Yes, I will take a look at it at the weekend. Which way would you prefer, should I create an instance of it in the constructors or in the functions, where we need it?

[2021-02-13 02:38] PowerKiKi commented on #98
I am not quite sure, but I suppose creating an instance in constructor would make sense if it's used "often" in various methods...

[2021-02-19 07:25] #98 closed

[2021-05-28 14:03] ghostika opened #100 "Available opening and closing balance"
At this point, the package only reads out for CAMT53 the CLBD and the OPBD values, but I would also need the available closing (CLAV) and available opening (OPAV) balance.

If I would create a PR to add these 2 additional types to the balances type, would that be merged or should I use my own fork?

[2021-06-01 01:18] PowerKiKi commented on #100
Via #101

[2021-06-01 01:18] #100 closed

[2021-07-13 15:01] ghostika opened #102 "Get status of a transaction"
In our particular case, the bank sends for Camt 52 not just `booked` but also `pending` transactions and they communicate it on the `sts` prop:

![Screenshot 2021-07-13 at 16 46 26](https://user-images.githubusercontent.com/2512578/125475339-67386813-ed81-46aa-8a67-cce376c00124.png)

I would create an MR for this.

[2021-07-19 03:04] #102 closed

[2021-10-19 11:14] binaryhq opened #104 "serialize with JsonSerializable?"
Would it be possible to implement all DTO's with JsonSerializable?

[2021-10-19 14:35] PowerKiKi commented on #104
Could you please explain your use case that would require this to be implemented in this lib (as opposed to in your own code) ?

[2021-11-01 07:33] binaryhq opened #105 "How to get owner and Financial institution information?"
Hi there,

Is there any way yo get owner and financial institution details of an account? [053.v4]

https://github.com/genkgo/camt/blob/0ea252af563e3e04119845a7e7e9093a886de945/test/Unit/Camt053/Stubs/camt053.v4.xml#L44-L61

Thanks

[2021-11-02 01:57] PowerKiKi commented on #105
I don't think there is a way to get that. If you submit a PR that is covered by unit tests, it could get merged though.

[2021-11-02 01:57] #105 closed

[2021-11-02 01:58] #85 closed

[2021-11-02 02:00] PowerKiKi commented on #67
Assuming this is obsolete

[2021-11-02 02:00] #67 closed

[2021-11-11 15:31] wildtierschweiz opened #107 "Cannot parse "-1,2" to Money"
Hi, Thanks for this library it is very useful!

I experience an issue with the MoneyFactory, in conjunction with phpmoney\money.

https://github.com/genkgo/camt/blob/0ea252af563e3e04119845a7e7e9093a886de945/src/Util/MoneyFactory.php#L30

It converts 'DBIT' indicators to negative amounts, but somehow theres a subsequent issue with
Money\Parser\DecimalMoneyParser:

[code]

There is infact a 'DBIT' e

[2021-11-11 15:37] wildtierschweiz commented on #107
Ok, I found, that it works on the live system.
Must be something to my local system's locale ...

[2021-11-12 11:32] PowerKiKi commented on #107
Can you please provide a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/minimal-reproducible-example) of code that exhibits this issue without relying on an external file, and with a manually set locale ?

And don't forget to mention what version of PHP you are using.

[2021-11-15 15:12] wildtierschweiz commented on #107
Hi, I can not reproduce it isolated. It works fine without external files.

PHP: 7.4
OS: Windows 10

It's within the context of the FatFreeFramework 3.7.3 where it happens.
If I setlocal('ch'); before the camt parsing in the page controller it works.

closed.

[2021-11-15 15:12] #107 closed

[2022-01-10 21:19] #104 closed

[2022-01-11 09:29] binaryhq opened #115 "DateTimeImmutable::__construct(): Failed to parse time string (2021-11-30T00:00:00.000000000+01:00) at position 0 (2): The timezone could not be found in the database"
Hi there,

I'm getting the following error for these datetime
[code]
[code]

[code]

![image](https://user-images.githubusercontent.com/8187458/148915575-d39a6883-5d5b-4a41-8c1e-342eb240deb7.png)

[2022-01-25 11:31] geekdevs opened #116 "Bug: CdtDbtInd vs ChrgInclInd"
It looks like there's a confusion between `CdtDbtInd` (which is "CRDT" or "DBIT") and `ChrgInclInd` (with could only be "true" or "false") here:

https://github.com/genkgo/camt/blob/a89fc7f9a1ec7a0f302751a7ae01ba67c6184c31/src/Decoder/EntryTransactionDetail.php#L324

Also, is it possible to somehow retrieve "CdtDbtInd" individually from this DTO?

[2022-03-16 21:37] rgendroz opened #117 "getRelatedPartyDetails() doesn't exists"
I'm not an expert but I had an error on trying to get RelatedPartyDetails. It seems to be a wrong function denomination in RelatedParty.php:

`public function getRelatedPartyType(): RelatedPartyTypeInterface`

would not better be?

`public function getRelatedPartyDetails(): RelatedPartyTypeInterface`

thanks for your great job!

[2022-03-17 13:29] PowerKiKi commented on #117
While `RelatedPartyDetails` could maybe make more sense, there is only 5 references to it in the entire project, and all in the same class. On the other hand `RelatedPartyType` is well established with 107 references all over the place.

Actually I'd be curious why you thought it would be `RelatedPartyDetails` in the first place, since it is not referenced anywhere public, and your IDE should easi

[2022-03-17 13:29] #117 closed

[2022-03-17 14:16] rgendroz commented on #117
Thanks for answer.
I tried to access entries[0].transactionDetails[0].relatedParties[0].relatedPartyDetails.name but error said function getRelatedPartyDetails() doesn't exists.
In the RelatedParty.php file, the variable is called RelatedPartyDetails but function called RelatedPartyType.
So may I use entries[0].transactionDetails[0].relatedParties[0].relatedPartyType.name ?

[2022-03-17 16:46] PowerKiKi commented on #117
You seem to be using an alternative syntax to access things. So I can't help you with that. But in native PHP that would be something like:

[code]

[2022-04-06 07:25] huebner-t opened #118 "deprecation warning"
Hello,

I get some deprecation messages at php 8.1:

`Deprecated: Return type of Money\Currencies\ISOCurrencies::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in /vendor/moneyphp/money/src/Currencies/ISOCurrencies.php on line 64

Deprecated: Return type of Mon

[2022-04-06 07:27] frederikbosch commented on #118
Which version of Money do you have installed? I guess it its version 3. For PHP 8.1 compatibility you need version 4.

[2022-04-06 07:27] #118 closed

[2022-04-29 06:58] seyfcom opened #119 "composer install not full"
hi!
maybe a strange question for you

Why when I do a normal composer req ... I don't get the full code that is in the rep github?
I don't get the test folder for example.

PHP 7.4.26 (cli) (built: Nov 16 2021 18:15:31) ( ZTS Visual C++ 2017 x64 )
Laragon install.

[2022-04-29 07:03] PowerKiKi commented on #119
This is on purpose, and is defined in https://github.com/genkgo/camt/blob/master/.gitattributes. Test file should be part of production install, because they might or might not be insecure. And most importantly they are not part of the public API, you should not use them yourself.

However if you want to use them to as a form of documentation, only for development purpose, you can do the following

[2022-04-29 07:03] #119 closed

[2022-04-29 07:44] seyfcom commented on #119
Oh yes! thanks.. It is exactly on documentation purpose !
It all works, great! thank a lot

[2022-08-15 12:33] friseb opened #120 "Camt 53.001.02 | Multiple Charge Entries in TransactionDetails, no Record Entry"
In Camt 53.001.02 there are no Record elements in the transaction details for charges.
Additionaly, there can be multiple charge elements, but the current code only looks at the first one.

![transaction](https://user-images.githubusercontent.com/5196793/184635336-903d10d8-4d96-4a68-aa2f-124ce86a601b.JPG)
![charges](https://user-images.githubusercontent.com/5196793/184635346-51f41334-c057-4fdf-9e9

[2022-08-15 13:03] friseb commented on #120
#121

[2022-08-17 13:55] nssnl opened #122 "Cannot parse "00000000000XXXX.XX" to Money"
Recently upgraded to 2.3 (coming from 0.6.0).
I tested with CAMT.053.001.02 files of NL ING and NL ABN - both files give no issues with 0.6.0. For NL ING also no issues with 2.3, but with NL ABN, getting the following error:

`Cannot parse "000000000005202.96" to Money`

The `Amt` entries in the XML all having leading zero's. The first entry is:
`<Amt Ccy="EUR">000000000005202.96</Amt>`

When, for

[2022-08-17 14:48] nssnl commented on #122
Found a way to fix this, by removing the leading zero's in /src/Util/MoneyFactory.php

Added below line 27 (`$amount = (string) $xmlAmount;`):
`$amount = ltrim($amount, "0");`

I'll create at PR

[2022-08-17 20:19] PowerKiKi commented on #122
Will be fixed via https://github.com/moneyphp/money/pull/702

[2022-08-17 20:19] #122 closed